{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            {% for post in posts %}
                            <div class="content is-medium">
                                <h5 class="subtitle is-4">{{post.posted|date:"F d, Y"}}</h5>
                                <a href="#">
                                    <h3 class="title">{{post.title}}</h3>
                                </a>
                                <p>{{post.intro}}</p>  
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <div class="text-center mb-3 mt-3">
        {% if posts.has_previous %}
            <a class="btn btn-sm btn-outline-info" href="?page=1">First</a>
            <a class="btn btn-sm btn-outline-info" href="?page{{posts.previous_page_number}}">Previous</a>
        {% endif %}

        {{posts.number}} of {{posts.paginator.num_pages}}

        {% if posts.has_next %}
            
            <a class="btn btn-sm btn-outline-info" href="?page={{posts.next_page_number}}">Next</a>
            <a class="btn btn-sm btn-outline-info" href="?page={{posts.paginator.num_pages}}">Last</a>
        {% endif %}

    </div>
    
{% endblock %}